{{ define "main" }} {{ $currentPage := . }}
<main id="main" class="list">
  <div class="container has-padding">
    {{ if ne $currentPage.RelPermalink "/posts/" }}
    <!-- Not Post Menu -->
    <ul class="list">
      {{ $pageSize := site.Params.pageSize.list | default 10 }} {{ range
      (.Paginator $pageSize).Pages }}
      <li class="post">
        <a href="{{ .Permalink}}" >{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }} 
    {{else}} 
    <!-- Post Menu -->
    {{ $pages := where .RegularPages "Section" "posts" }}
    <h2>{{ len $pages }} Posts</h2>
      {{ range ($pages.ByParam "date").GroupByDate "2006" }}
      <h2 class="archive-title">{{ .Key }}</h2>
        {{ range .Pages }}
        <li class="post">
          <time class="date">{{ .PublishDate.Format "2006-01-02" }}</time>
          <a href="{{ .Permalink}}" class="title">{{ .Title }}</a>
        </li>
        {{ end }} 
      {{ end }} 
    {{ end }}
  </div>
</main>
{{ end }}
