<header id="header">
  <div class="row">
    <div class="container has-padding nav">
      <button id="navbar-toggler" class="navbar-button" aria-hidden="true"></button>
      <div class="navbar-brand">
        <a class="logo navbar-button" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
          <span>{{ .Site.Title }}</span>
        </a>
      </div>
      <nav class="navbar" role="navigation">
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li class="nav-bar-item{{ if or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Section .Identifier) }} active{{ end }}">
              <a class="nav-link navbar-button" href="{{ .URL | relLangURL }}" title="{{ or .Title .Name }}">
                <span>{{ .Name | lower }}</span>
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
      <div id="searchBox">
        <form class="searchform cf">
          <input id="searchInput" tabindex="0" required="" type="text" name="search" value="" onkeypress="">
          <button onclick="">검색</button>
          <ul id="searchResults">
          </ul>
        </form>
      </div>
        <script src="/js/fuse.js"></script> 
        <script src="/js/fastsearch.js"></script>
  </div>
  
</header>